body {
    font-family: Montserrat, serif !important
}

#app {
    display: block;
    min-height: 100vh;
    padding-bottom: 270px;
    position: relative
}

.navbar-img {
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain
}

.footer-section {
    background-color: #fff !important;
    bottom: 0;
    box-shadow: 0 -9px 16px 0 rgba(0, 0, 0, .06);
    margin-bottom: 0 !important;
    overflow: hidden;
    position: absolute;
    width: 100%
}

.footer-section .footer-img-left {
    bottom: 0;
    left: 0
}

.footer-section .footer-img-left,
.footer-section .footer-img-right {
    background-repeat: no-repeat;
    height: 100%;
    opacity: .5;
    position: absolute;
    width: 100%
}

.footer-section .footer-img-right {
    background-position: 100%;
    right: 0
}

.footer-section .footer-container {
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative
}

.footer-section .footer-credits {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    text-align: center
}

.footer-section .footer-logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-right: 40px;
    text-align: center
}

.footer-section .footer-logo img {
    height: 50px;
    -o-object-fit: contain;
    object-fit: contain
}

.footer-section .footer-section-bg-graphics {
    bottom: 0;
    position: absolute;
    right: -10%
}

.footer-section .footer-social-media-icons-section .footer-social-media-icon {
    align-items: center;
    background-color: #6b719b;
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    font-size: 20px;
    height: 40px;
    justify-content: center;
    width: 40px
}

.web-user-form {
    width: 90%
}

.web-user-form .form-control:not(.form-control-sm):not(.form-control-lg) {
    border-radius: 25px;
    box-shadow: 0 1px 3px 0 rgba(98, 107, 117, .329);
    font-size: 15px;
    padding: 15px 20px !important
}

.rounded-button {
    border-color: #d8d9e3 !important;
    border-radius: 25px !important;
    box-shadow: 0 1px 3px 0 rgba(98, 107, 117, .329) !important
}

.or-social {
    background-color: #e9ebec;
    height: 1px;
    margin: 20px 0;
    position: relative;
    width: 100%
}

.or-social span {
    background-color: #fff;
    left: 50%;
    padding: 0 10px;
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%)
}

.web-region-code {
    border-radius: 25px;
    box-shadow: 0 1px 3px 0 rgba(98, 107, 117, .329)
}

.social-login-buttons .google-login {
    background-color: #dd4b39 !important;
    box-shadow: 0 10px 30px 0 rgba(98, 107, 117, .329) !important;
    color: #fff !important;
    font-size: 10px
}

.social-login-buttons .google-login:hover {
    background-color: #fff !important;
    border-color: #dd4b39 !important;
    color: #dd4b39 !important
}

.social-login-buttons .facebook-login {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    box-shadow: 0 10px 30px 0 rgba(98, 107, 117, .329) !important;
    color: #fff !important;
    font-size: 10px
}

.social-login-buttons .facebook-login:hover {
    background-color: #fff !important;
    border-color: #3b5998 !important;
    color: #3b5998 !important
}

.btn-submit {
    border-radius: 5px 5px 5px 5px !important;
    box-shadow: 0 4px 15px 0 rgba(98, 107, 117, .329) !important;
    font-size: 13px !important;
    text-transform: uppercase !important
}

.support-public-tickets {
    background: #fff !important;
    border: 2px solid transparent;
    border-left-color: #6b719b !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .03);
    box-sizing: border-box;
    transition: all .3s ease-in
}

.support-public-tickets:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2)
}

.accordion-header[aria-expanded=true] {
    background-color: #6b719b !important;
    box-shadow: 0 2px 6px #acb5f6 !important;
    color: #fff !important
}

.accordion-header[aria-expanded=true] h4 {
    color: #fff !important
}

.is-ticket-avatar {
    border-radius: 50%;
    height: 64px;
    -o-object-fit: cover;
    object-fit: cover;
    padding-top: 4px;
    width: 60px
}

.ticket-subject-text {
    font-size: 1.2em;
    width: 75%
}

.is-ticket-details {
    color: #a9a9a9
}

@media screen and (max-width:540px) {
    .support-footer .col-xl-6 {
        margin-bottom: 1em !important;
        text-align: center !important
    }
    .public-ticket-list div:nth-child(2) button {
        display: block !important;
        width: 100%
    }
    .public-ticket-list div:nth-child(2) .public-ticket-reset {
        width: 100%
    }
    .main-section-area .particles-banner-section {
        height: 93vh !important
    }
}

@media screen and (max-width:540px) and (max-width:540px) {
    .main-section-area .particles-banner-section {
        height: 70vh !important
    }
}

@media screen and (max-width:540px) and (max-width:360px) {
    .main-section-area .particles-banner-section {
        height: 80vh !important
    }
}

@media screen and (max-width:540px) and (max-width:320px) {
    .main-section-area .particles-banner-section {
        height: 93vh !important
    }
}

.ticketZIndex {
    z-index: 9
}

.ticketsContainer {
    border-radius: 3px 0 0 3px;
    color: #fff;
    margin-right: -.55em;
    padding: .55em;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100px
}

@media (max-width:1024px) {
    .ticketsContainer {
        bottom: 17px
    }
}

@media (min-width:1025px) {
    .ticketsContainer {
        top: 17px
    }
}

.ticketsContainer:before {
    content: "";
    height: 28px;
    position: absolute;
    right: .33rem;
    top: 1.4rem;
    transform: rotate(45deg);
    width: 28px;
    z-index: -1
}

.ticketsContainer-success,
.ticketsContainer-success:before {
    background-color: #47c363
}

.ticketsContainer-warning,
.ticketsContainer-warning:before {
    background-color: #ffa426
}

.ticketsContainer-danger,
.ticketsContainer-danger:before {
    background-color: #e67d3c
}

.large-card {
    background-color: #fff;
    border-top: 3px solid #6b719b
}

.ticket-created-date {
    position: absolute;
    right: 1%;
    top: 72%
}

@media (max-width:1024px) {
    .ticket-created-date {
        top: inherit
    }
}

#publicTicketsSearchResults {
    z-index: 9
}

#publicTicketsSearchResults ul {
    height: auto;
    max-height: 300px;
    overflow: auto
}

#publicTicketsSearchResults ul li a {
    padding: 0 .7em
}

#publicTicketsSearchResults ul li:hover {
    background-color: #6b719b
}

#publicTicketsSearchResults ul .noTicketsFound {
    font-size: .8em
}

#publicTicketsSearchResults ul .noTicketsFound:hover {
    background-color: transparent
}

#publicTicketsSearchResults ul li:hover a {
    color: #fff
}

.main-section-area {
    padding-top: 75px;
    position: relative
}

.particles-banner-section {
    background: #f4f6f9;
    height: 93vh;
    position: absolute;
    width: 100%
}

.banner-height {
    height: 93vh;
    min-height: 93vh
}

@media (max-width:540px) {
    .banner-height {
        height: 70vh;
        min-height: 70vh;
        padding-top: 0 !important
    }
}

@media (max-width:360px) {
    .banner-height {
        height: 80vh;
        min-height: 80vh
    }
}

@media (max-width:320px) {
    .banner-height {
        height: 93vh;
        min-height: 93vh
    }
}

@media (max-width:540px) {
    .margin-t-10 {
        margin-top: 10px !important
    }
}

@media screen and (max-width:320px) {
    .public-ticket-list div:first-child {
        margin-bottom: 0 !important;
        padding: .4em !important
    }
}

@media screen and (max-width:425px) {
    .user-avatar {
        position: absolute;
        transform: translateY(-45px)
    }
    .public-ticket-section {
        margin-top: 1.9em
    }
    .ticketZIndex {
        margin-top: 2.5em !important
    }
}

@media screen and (max-width:768px) {
    .footer-section {
        position: inherit !important
    }
    .footer-section .row {
        padding: 1em !important
    }
    .footer-section .footer-logo {
        padding-right: 0 !important
    }
    #app {
        padding-bottom: 0 !important
    }
    .public-ticket-list div:first-child {
        display: flex !important
    }
    .banner-height {
        height: auto !important
    }
    .particles-banner-section {
        height: 160vh !important
    }
    #navbarSupportedContent span {
        display: inline-block
    }
    .navbar #navbarSupportedContent ul li {
        margin-bottom: 1rem
    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {
    .banner-height,
    .particles-banner-section {
        height: 93vh !important
    }
    .banner-height {
        min-height: 93vh !important
    }
}

@media only screen and (min-device-width:1024px) and (max-device-width:1366px) and (orientation:portrait) {
    .banner-height,
    .particles-banner-section {
        height: 50vh !important
    }
    .banner-height {
        min-height: 50vh !important
    }
}

.submit-ticket {
    background-repeat: no-repeat;
    background-size: cover
}

.ticket-attachment {
    background-color: #fff;
    border-radius: .25rem;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 12px;
    -o-object-fit: contain;
    object-fit: contain;
    padding: .25rem;
    width: 100px
}

.gallery-item.ticket-attachment {
    align-items: center;
    display: flex !important;
    justify-content: center
}

.gallery-item .ticket-attachment__icon {
    background: #47525d;
    border-radius: 6px;
    height: 22px;
    text-align: center;
    width: 50px
}

.attachment-icon:hover,
.gallery-item .ticket-attachment__icon .view-icon {
    color: #00b0b0 !important
}

.note-toolbar .note-btn:hover {
    background-color: #6b719b !important;
    color: #fff
}

.scrolltop .icon {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    transform: rotate(-45deg)
}

.scrolltop {
    background-color: #fff;
    border-radius: 50%;
    bottom: 76px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .15);
    cursor: pointer;
    display: none;
    height: 50px;
    position: fixed;
    right: 15px;
    width: 50px;
    z-index: 99
}

.scrollTop-sm {
    bottom: 15px
}

@media (max-width:430px) {
    .width-front-mobile-100,
    .width-front-mobile-100 .selectgroup {
        width: 100%
    }
    .width-front-mobile-100 .custom-input {
        margin-right: 0 !important
    }
    .px-front-mobile-3 {
        padding: 0 15px
    }
}

.end-chat-button {
    margin-left: 5px !important;
    width: 100%
}